body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh; /* 1.5 рази більше висота */
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* 1.5 рази більше тінь */
    overflow: hidden;
    max-width: 1350px; /* 1.5 рази більше ширина */
    animation: slideIn 1s ease-out;
    height: auto;
}

.image-container {
    flex: 1;
    min-width: 450px; /* 1.5 рази більше мінімальна ширина */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease-in;
}

.image-container img {
    width: 100%;
    height: auto;
    border-right: 3px solid #ddd; /* 1.5 рази більше межа */
}

.text-container {
    flex: 2;
    padding: 30px; /* 1.5 рази більше відступ */
    animation: fadeInText 1.5s ease-in;
    font-size: 1.5em; /* 1.5 рази більше розмір шрифту */
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        border-right: none;
        border-bottom: 3px solid #ddd;
    }

    .text-container {
        padding: 20px;
        font-size: 1em; /* Зменшення розміру шрифту для менших екранів */
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
